// -------------------------
// Product Card
// -------------------------

.product-card {
  height: 100%;
}

.product-card__gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-card__gallery-image {
  &,
  img {
    width: 100%;
  }

  &:hover {
    filter: invert(1);
  }
}
