// -------------------------
// Product Card
// -------------------------

$left-space: 9px;

.product-card {
  height: 100%;

  .js & {
    opacity: 0.01;

    &.is-visible {
      opacity: 1;
      transition: opacity 50ms ease-out;
    }

    &.filter-out {
      opacity: 0.01;
      pointer-events: none;
    }    
  }

  &--preview {
    cursor: $cursor-disabled;
  }
}

.product-card__contents {
  position: relative;
}

.product-card__badge {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: $left-space;
  text-transform: uppercase;
}

.product-card__gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-card__gallery-image {
  &,
  img {
    width: 100%;
  }
}

.product-card__info {
  margin: 20px 0;
  padding-left: $left-space;
  font-size: $font-size-sm;
}

.product-card__title {
  margin-bottom: 10px;
  max-width: 25em;
  font-weight: $font-weight-bold;
}
