// -------------------------
// Product Card
// -------------------------

$left-space: 9px;

.product-card,
.product-card__link,
.product-card__contents {
  height: 100%;
}

.product-card {
   &--preview {
    cursor: $cursor-disabled;
  }
}

.product-card__contents {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.85, 0.06, 0.54, 0.96);

  .product-card.is-loaded & {
    opacity: 1;
  }
}

.product-card__badge {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: $left-space;
  text-transform: uppercase;
}

.product-card__gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-card__gallery-image {
  height: 0;
  
  &,
  img {
    width: 100%;
  }

  img[data-src] {
    opacity: 0;
  }

  .product-card.is-loaded & img {
    opacity: 1;
  }
}

.product-card__info {
  flex: 1; // Take up the remaining space - make sure all __info elements are the same height
  padding: 15px 0 15px $left-space;
  font-size: $font-size-sm;

  @include media-breakpoint-up(md) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include has-hover {
    .product-card:hover & {
      background-color: $red;
      color: $white;
    }
  }
}

.product-card__title {
  margin-bottom: 10px;
  max-width: 90%;
  font-weight: $font-weight-bold;
}
