// -------------------------
// AJAX Cart
// -------------------------

body.ajax-cart-open {
  overflow: hidden;
}

.ajax-cart-container {
  position: fixed;
  z-index: $zindex-ajax-cart;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  background: $ajax-cart-bg;
  color: $ajax-cart-color;
  text-transform: uppercase;
  pointer-events: none;
  opacity: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transition: opacity $transition-duration-slow $transition-timing-function-overlay-opacity-in;

  &.is-open {
    pointer-events: auto;
    opacity: 1;
  }

  .layout-content-wrapper {
    @include media-breakpoint-down(sm) {
      padding-bottom: 69px;
    }
  }
}

// Ensure that the cart takes up the entire screen at all times
.ajax-cart-container,
.ajax-cart-form {
  height: 100%;
}

.ajax-cart-form {
  display: flex;
  flex-direction: column;
}

.ajax-cart__body {
  position: relative;

  // Ajax cart loading shield
  &:before {
    content: '';
    @include stretch-within;
    z-index: 1;
    background: transparentize($ajax-cart-bg, 0.75);
    opacity: 0;
    pointer-events: none;
  }

  .ajax-cart-container.lock-ui &:before {
    opacity: 1;
    pointer-events: auto;
    cursor: $cursor-disabled;
  }    
}

.ajax-cart__item {
  display: flex;
  margin-bottom: 40px;

  @include media-breakpoint-up(md) {
    margin-bottom: 55px;
  }

  @include media-breakpoint-down(sm) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ajax-cart__item-child {
  flex: 1;

  &:first-child {
    padding-right: $grid-gutter-width/2;
  }

  &:last-child {
    padding-left: $grid-gutter-width/2;
  }
}

.ajax-cart__item-image,
.ajax-cart__item-info {
  padding-right: $spacer;
}

.ajax-cart__item-image {
  img {
    width: 100%;
  }
}

.ajax-cart__item-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.35; // @TODO - Weird that this has different line height than the rest of the site?

  h4 {
    margin-bottom: $spacer * 0.25;
  }

  .btn {
    margin-top: auto;
  }
}

.ajax-cart__footer {
  margin-top: 50px;

  @include media-breakpoint-up(md) {
    position: fixed;  
    bottom: 54px;
  }

  @include media-breakpoint-up(xl) {
    bottom: 68px;
    padding-left: 5%;
  }

  // Below this screen size, the footer isn't fixed so it collapses up to the top which we don't want
  @include media-breakpoint-down(sm) {
    .is-empty & {
      display: none;
    }
  }  
}

.ajax-cart__footer-bottom {
  margin-top: 31px;
}

.ajax-cart__footer-row {
  & + & {
    margin-top: 31px;
  }
}

.ajax-cart__empty-message {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  pointer-events: none;
  opacity: 0;
  transition: opacity $transition-duration-slow $transition-timing-function-overlay-opacity-in;

  .is-open.is-empty & {
    pointer-events: auto;
    opacity: 1;
  }
}