// -------------------------
// Footer
// -------------------------

.footer {
  padding-top: $footer-padding-top;
  padding-bottom: $footer-padding-bottom;
  text-transform: uppercase;
  font-size: $footer-font-size;

  a {
    @include highlight-link;
  }

  .minimal-input-box {
    height: 11px;
    font-size: $footer-font-size;
  }
}

// Need to emulate the grid for the footer blocks
// I say "emulate" because we don't want to use col-* classes since footer blocks
// can be added and removed and should take up the full width of the screen no matter what
.footer-blocks {
  display: flex;
  justify-content: space-between;
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;  
}

.footer-block {
  flex: 1;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
}

@include media-breakpoint-down(sm) {
  .footer-blocks {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer-block {
    flex: 1;
    flex-basis: percentage(1/3);
    // max-width: percentage(1/3);
  }
}

.footer-block__title {
  margin-bottom: 3px;
}

.footer-menu {
  @extend .list-unstyled;
  margin-bottom: 19px;

  li:not(:last-child) {
    margin-bottom: 3px;
  }
}

.footer-info {
  p {
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
