// -------------------------
// Header
// -------------------------

.header-logo {
  display: block;
  position: fixed;
  z-index: $zindex-header-logo;  
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 75px;

  @include media-breakpoint-up(lg) {
    top: 40px;
    max-width: 86px;    
  }

  @include media-breakpoint-up(xl) {
    top: 36px;
    max-width: 123px;
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.header-cart {
  position: fixed;
  z-index: $zindex-header-cart;
  top: 31px;
  right: $outer-gutter-mobile;

  @include media-breakpoint-up(lg) {
    top: 49px;
    right: $outer-gutter;
  }

  display: none;

  &.has-items,
  .ajax-cart-open & {
    display: inline-block;
  }
}

.header-nav {
  position: fixed;
  z-index: $zindex-header-nav;
  top: 31px;
  left: $outer-gutter-mobile;

  @include media-breakpoint-up(lg) {
    top: 49px;
    left: $outer-gutter;
  }  

  ul {
    @include list-unstyled;
    margin: 0;
    text-transform: uppercase;
  }

  li {
    display: inline-block;
    margin: 0;  

    & + li {
      margin-left: 6px;

      @include media-breakpoint-up(lg) {
        margin-left: 10px;        
      }
    }
  }

  a {
    @include highlight-link;
  }
}
