// --------------------------------------------------------
// Product Detail
// --------------------------------------------------------

@import 'product-detail/form';
@import 'product-detail/gallery';

.product-detail {
  margin-top: $layout-top-padding-mobile;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    display: flex;
    align-items: flex-start;
  }
}

.product-detail__thumbs-area,
.product-detail__form-area {
  @include media-breakpoint-up(md) {
    flex: $grid-columns * (1/3);
  }

  @include media-breakpoint-up(xl) {
    flex: $grid-columns * (1/4);
  }
}

.product-detail__gallery-area {
  @include media-breakpoint-up(md) {
    flex: $grid-columns * (2/3);
  }

  @include media-breakpoint-up(xl) {
    flex: $grid-columns * (2/4);
  }
}

.product-detail__thumbs-area,
.product-detail__form-area {
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
    height: 100vh;
    height: var(--unit-100vh, 100vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.product-detail__thumbs-area {
  order: -1; // Pull to the left

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.product-detail__form-area {
  @include media-breakpoint-up(md) {
    height: auto;
    min-height: calc(90vh);

    .product-detail-form {
      padding-top: 100px;
    }
  }

  @include media-breakpoint-up(md) {
    .product-detail-form {

    }
  }
}
