// --------------------------------------------------------
// Product Detail
// --------------------------------------------------------

// Slideshow / Zoom
// --------------------------------------------------------

.product-gallery {
  margin-bottom: 53px;

  @include media-breakpoint-up(lg) {
    padding-right: 115px;
  }
}

.product-gallery__slideshow {
  margin: 0 auto;

  @include media-breakpoint-up('sm') { max-width: none; }

  html.js & {
    opacity: 0;

    &.swiper-container-initialized {
      opacity: 1;
      transition: opacity 300ms ease-out;
    }
  }

  .swiper-slide {
    display: inline-block;

    &.is-zoomable {
      cursor: zoom-in;
      cursor: -webkit-zoom-in;
    }

    &.is-zoomed {
      cursor: zoom-out;
      cursor: -webkit-zoom-out;
    }    

    &:focus { outline: 0; }

    img {
      width: 100%;
      &:focus { outline: 0; }

      @include media-breakpoint-up('md') {
        width: 100%;
        height: 100%;
        max-height: 60vh;
        object-fit: contain;
        object-position: left;
      }
    }
  }
}

.product-gallery__thumbnails {
  margin-top: 19px;
}

.product-gallery__thumbnails-slide {
  display: inline-block;
  width: 72px;
  margin-right: 7px; // @TODO ? or is it flex and we fit a certain number per row?

  &:hover {
    filter: invert(1);
  }

  &:not(.is-active) {
    cursor: pointer;
  }

  &.is-active {
    filter: grayscale(1);
  }

  img {
    width: 100%;
  }
}


// Form
// --------------------------------------------------------

.product-sku-display {
  position: relative;

  .product-sku {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.product-description {
  margin-bottom: 18px;
  max-width: 36em;

  ul {
    @include list-br;
    margin-bottom: $paragraph-margin-bottom;
  }
}

.pdf-add-to-cart-form {
  margin-top: 32px;
}

.pdf-submit-wrapper {
  margin-top: 30px;
  display: flex;
}

.pdf-status {
  text-transform: uppercase;
  padding-left: 8px;
  display: none;

  &.is-visible {
    display: block;
  }
}

.btn.option-value {
  &.is-active {
    background-color: transparent;
  }

  &.is-disabled {
    cursor: $cursor-disabled;

    &:before,
    &:after {
      display: none;
    }
  }
}

// -------------------------
// Blowup
// -------------------------

// Kill the scroll on the body
body.blowup-open {
  overflow: hidden;
}

.blowup {
  position: fixed;
  z-index: $zindex-blowup;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
  background-color: $body-bg;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 0.6s cubic-bezier(0.32, 0.15, 0.02, 1.01) 0.3s;

  &.is-scrollable {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    .blowup__image {
      width: 100%;
      height: auto;
    }
  }

  &.is-active {
    opacity: 1;
    pointer-events: auto;
    transition-timing-function: cubic-bezier(0.32, 0.15, 0.02, 1.01);
    transition-duration: 0.3s;
    transition-delay: 0s;
  }
}

.blowup__helper {
  position: fixed;
  z-index: $zindex-blowup + 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 $grid-gutter-width $grid-gutter-width*2;  
  opacity: 0;

  .blowup.is-active & {
    opacity: 1;
  }
}

.blowup__scroll {
  @include stretch-within;
  opacity: 0;
  transition: opacity 600ms ease-out;

  .is-active & {
    opacity: 1;
  }
}

.blowup__image {
  height: 2000px;
  width: auto;
  max-width: none;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.75, 0.32, 0.64, 0.87);

  .image-visible & {
    opacity: 1;
  }

  // In this case, clicking the image will close the zoom
  .is-scrollable & {
    cursor: zoom-out;
    cursor: -webkit-zoom-out;
  }
}
