// -------------------------
// Sidebar
// -------------------------

.sidebar {
  text-transform: uppercase;
  overflow-wrap: break-word;
  
  a {
    @include highlight-link;

    &.is-active {
      background-color: $white;
      color: $black;
    }
  }
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: $spacer;

  li {
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
