// -------------------------
// Sidebar
// -------------------------

.sidebar {
  text-transform: uppercase;
  overflow-wrap: break-word;
  
  a {
    @include highlight-link;

    &.is-active {
      color: $white;

      &:hover {
        color: $black;
      }
    }
  }

  @include media-breakpoint-up(md) {
    position: sticky;
    top: 69px
  }
  @include media-breakpoint-up(xl) {
    top: 107px;
  }
}

.sidebar-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: $spacer;

  &:not(:last-child) {
    margin-bottom: $spacer;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
}

.sidebar-filters {
  display: none;

  @include media-breakpoint-up(md) {
    display: block !important;
  }
}

.sidebar-filters-toggle {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
