{%- comment %}

  Lookbook Product Details
  ------------------------------------------------------------------------------

  Usage:

  {% include 'lookbook-product-details',
              product: { product } - required
  %}

{% endcomment -%}

{% if product %}
  <div class="lookbook-product-details" data-details data-id="{{ product.id }}">
    <div class="lookbook-product-details__content" data-details-content>
      <div class="lookbook-product-details__top">
        <h6>{{ product.title }}</h6>
      </div>
      <div class="lookbook-product-details__bottom">
        <div>{{ product.description }}</div>
        {% for product_option in product.options_with_values %}
          {% assign option = product_option.name | upcase %}
          {% if option == 'SIZE' and product_option.values.size > 1 %}
            <div class="manufactured-in">
              Manufactured in {{ product_option.values | join: ', ' }}
            </div>
          {% endif %}
        {% endfor %}        
      </div>
    </div>
  </div>
{% endif %}