{%- comment %}

  Product Detail Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail',
              product: { product } - required
              selected: { boolean } - optional
  %}

{% endcomment -%}

{% assign current_variant = product.selected_or_first_available_variant %}

<div class="product-detail{% if selected %} is-active{% endif %}"
     data-product-detail
     data-id="{{ product.id }}"
>
  {% render 'product-detail-gallery',
              product: product,
              current_variant: current_variant
  %}
  {% render 'product-detail-form',
              product: product,
              current_variant: current_variant
  %}
</div>
