{%- comment %}

  Product Detail Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail',
              product: { product } - required
  %}

{% endcomment -%}

{% assign current_variant = product.selected_or_first_available_variant %}

<div data-product-detail>
  {% include 'product-detail-gallery',
              product: product,
              current_variant: current_variant
  %}
  {% include 'product-detail-form',
              product: product,
              current_variant: current_variant
  %}
</div>
