{%- comment %}

  Product Detail Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail',
              product: { product } - required
              selected: { boolean } - optional
  %}

{% endcomment -%}

{% assign current_variant = product.selected_or_first_available_variant %}

{% assign product_url = product.url %}
{% if collection %}
  {% assign product_url = product.url | within: collection %}
{% endif %}

<div class="product-detail"
     {% if selected %}data-selected="true"{% endif %}
     data-product-detail
     data-url="{{ product_url }}"
     data-id="{{ product.id }}"
>
  {% render 'product-detail-gallery',
              product: product,
              current_variant: current_variant
  %}
  {% render 'product-detail-form',
              product: product,
              current_variant: current_variant
  %}
</div>
