// -----------------------------------------------------------------------------
// Arrows
// -----------------------------------------------------------------------------

.arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  width: 50px;
  overflow: hidden;
  cursor: pointer;

  &--right {
    // Default
  }

  &--left {
    transform: rotate(180deg);
  }
}

.arrow__icon {
  position: relative;
}
