// -----------------------------------------------------------------------------
// Breadcrumbs
// -----------------------------------------------------------------------------

.breadcrumbs {
  .crumb {
    display: inline-block;

    &:before {
      content: '/';
      display: inline-block;
      margin-right: -7px;
    }
  }  
}

