// -------------------------
// Modals
// -------------------------

.minimal-input-box {
  display: flex;
  align-items: end;

  .btn {
    position: relative;
    top: 1px;
  }
}

.minimal-input-box__input {
  @extend .form-control;
  text-transform: uppercase;
}
