// -------------------------
// Newsletter Form
// -------------------------

.newsletter-form {
  vertical-align: top;
}

.newsletter-form-contents-trigger {
  .show-contents & {
    display: none;
  }
}

.newsletter-form-contents {
  display: none;

  .show-contents & {
    display: block;
  }
}

.newsletter-form-inputs {
  .form-control {
    text-transform: uppercase;
  }
}

.newsletter-form-message {
  margin-top: 3px;
  text-transform: uppercase;
  font-size: 90%;
  display: none;

  .show-message & {
    display: block;
  }
}
