// -------------------------
// Newsletter Form
// -------------------------

.newsletter-form-contents {
  position: relative;
}

.newsletter-form-inputs {
}

.newsletter-form-message {
  @include stretch-within();
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.newsletter-form-contents.show-message {
  .newsletter-form-inputs {
    opacity: 0;
    pointer-events: none;
  }

  .newsletter-form-message {
    opacity: 1;
    pointer-events: auto;
  }
}
