// Quantity Adjuster
//
// Single component with number input and +/- buttons

.quantity-adjuster {
  display: flex;

  // button {
  //   border: none;
  //   background: none;
  //   -webkit-appearance: none;
  //   padding: 0;
  //   text-align: center;
  //   vertical-align: top;
  //   cursor: pointer;
  //   transition: opacity 120ms ease-out;

  //   &[disabled] {
  //     opacity: 0.25;
  //     cursor: $cursor-disabled;
  //   }
  // }

  input[type="number"] {
    width: 24px;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    text-align: center;
    pointer-events: none;
    -moz-appearance: textfield; // Remove the spinner - firefox + chrome

    &[disabled] {
      opacity: 0.25;
      cursor: $cursor-disabled;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // // Create the plus / minus buttons
  // .quantity-adjuster__increment,
  // .quantity-adjuster__decrement {
  //   position: relative;

  //   &:before,
  //   &:after {
  //     content: '';
  //     position: absolute;
  //     height: 1px;
  //     width: 12px;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   }

  //   &:after {
  //     transform: translate(-50%, -50%) rotate(90deg);
  //   }
  // }

  // .quantity-adjuster__decrement {
  //   &:before,
  //   &:after {
  //     width: 8px;
  //   }
  // }

  // .quantity-adjuster__decrement {
  //   &:after {
  //     display: none;
  //   }
  // }
}
