// -------------------------
// Collection page
// -------------------------

.control-bar {
  margin-bottom: $gap * 0.5;

  @include media-breakpoint-up(md) {
    margin-bottom: $gap * 1.5;
  }
}

.control-bar__row {
  display: flex;
  justify-content: space-between;
}

.control-bar__group {
  display: flex;
  
  &:last-child {
    justify-content: flex-end;
  }
}

.control-bar__item {
  text-transform: uppercase;

  & + & {
    margin-left: $spacer*2;

    @include media-breakpoint-up(md) {
      margin-left: 50px;
      margin-left: 4.5vw;
    }
  }

  a {
    @include highlight-link;
  }
}

.control-bar__filters {
  display: none; // shown via js
}

.filter-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  .control-bar__filters & {
    padding-top: $spacer * 0.5;
    text-align: right;
    max-width: 75%;
    margin-left: auto;

    &:first-child {
      padding-top: $spacer * 1.5;
    }

    @include media-breakpoint-up(md) {
      max-width: 35rem;
    }
  }

  li {
    display: inline-block;
    margin-bottom: 4px;
  }
}