// -------------------------
// Collection page
// -------------------------

.control-bar {
  margin-bottom: $gap * 0.5;
  @include stick-to-top;

  @include media-breakpoint-up(md) {
    margin-bottom: $gap * 1.5;
  }
}

.control-bar__row {
  display: flex;
  // justify-content: space-between;
  justify-content: flex-end;

  // @include media-breakpoint-up(md) {
  //   justify-content: flex-end;    
  // }
}

.control-bar__row-item {
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    margin-left: 50px;
    margin-left: 4.5vw;
  }

  a {
    @include highlight-link;
  }
}

.control-bar__filters {
  display: none; // shown via js
}

.filter-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: $spacer;
  }

  .control-bar__filters & {
    padding-top: $spacer;
    text-align: right;
    max-width: 75%;
    margin-left: auto;

    @include media-breakpoint-up(md) {
      max-width: 35rem;
    }
  }

  li {
    display: inline-block;
    margin-bottom: 4px;
  }
}