// -------------------------
// Collection page
// -------------------------

.product-pane {
  margin-bottom: 30px;

  .product-detail {
    display: none;

    &.is-active {
      display: block;
    }
  }
}