.lookbook-sidebar {
  .lookbook-product-details {
    & + .lookbook-product-details {
      margin-top: 30px;
    }
  }
}

.lookbook-product-details {
  &.highlighted {
    color: $white;
  }
}

.lookbook-card {
  display: flex;

  @include media-breakpoint-down(sm) {
    .product-card__sku {
      display: none;
    }

    .product-card {
      flex: 1;
      padding-right: $outer-gutter-mobile/2;
    }

    .lookbook-product-details {
      flex: 1;
      padding-left: $outer-gutter-mobile/2;
    }    
  }

  .lookbook-product-details {
    margin-bottom: 30px;
    
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

// .lookbook-product-details__content {
//   .js & {
//     display: none;
//   }
// }

.lookbook-product-details__top {
  margin-bottom: 1rem;

  h6 {
    margin: 0;
  }

  .sku {
    font-size: 10px;
  }
}

.lookbook-product-details__bottom {
  font-size: 10px;

  ul {
    @include list-br;
  }

  .manufactured-in {
    margin-top: 15px;
  }
}