// -------------------------
// Overlay Base
// -------------------------

// Kill the scroll on the body
.overlay-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.overlay {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: transparentize($black, 0.4);
  z-index: $zindex-overlay;
  -webkit-overflow-scrolling: touch;
  pointer-events: none;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  .overlay-open & {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

  &.is-visible {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.5s step-start;
  }
}

.overlay__inner {
  padding: 61px 0;
  width: 100%;

  @include media-breakpoint-up(lg) {
    padding-top: 86px;
    padding-bottom: 86px;
    max-width: 60%;
  }
}

.overlay__content {
  width: 0;
  overflow: hidden;

  .is-visible & {
    width: 100%;
    transition: width 0.5s linear 0.5s;
  }
}
