// -------------------------
// Overlay Base
// -------------------------

// Kill the scroll on the body
.overlay-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.overlay {
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: transparentize($black, 0.4);
  z-index: $zindex-overlay;
  -webkit-overflow-scrolling: touch;
  pointer-events: none;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  transition: opacity 500ms $transition-timing-function-overlay-out;

  .overlay-open & {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &.is-visible {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 500ms $transition-timing-function-overlay-in;
  }
}

.overlay__content {
  padding: 61px 0;

  @include media-breakpoint-up(lg) {
    padding-top: 86px;
    padding-bottom: 86px;
  }
}
