// -------------------------
// Overlay Menu
// -------------------------

// This is *really* weird but they want the menu overlay to be part of the page on the homepage
.template-index.overlay-open {
  overflow: auto;
}

.overlay--menu {
  .template-index & {
    background-color: transparent;
    position: static;
    height: 100vh;
    height: var(#{'--viewport-height'});

    &.is-visible {
      // height: 100vh;
      // height: var(#{'--viewport-height'});
    }
  }

  .ajax-cart-open & {
    background-color: transparentize($white, 0.5);

    a {
      color: $black;
    }
  }
}