// -------------------------
// Page Layout
// -------------------------

/* If supported, use flexbox to stick the footer to the bottom of the page */
.flexbox {
  .layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  /* stylelint-disable-next-line selector-max-id */
  main#view-container {
    flex: 1 0 0; // All three need to be specified for IE11
    flex-direction: column;
  }
}

.layout-wrapper {

}

// .layout-main-content {
//   flex-direction: column;
// }

// Use this as the only direct child of main#MainContent on pages where you don't want the content flush to the header and footer
// Or use the modifier classes to get flush on top or bottom
.layout-content-wrapper {
  margin-top: 69px;
  
  @include media-breakpoint-up(lg) {
    margin-top: 106px;  
  }

  &.flush-top {
    margin-top: 0;
  }
}
