// Slideshow / Zoom
// --------------------------------------------------------

// .product-gallery
//   .product-gallery__slideshow
//   .product-gallery__scroller

.product-gallery {
  margin-bottom: $gap*2;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    padding-right: 3vw;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 3vw;
  }

  // All images in the gallery are lazy loaded on init
  img {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.59, 0.03, 0.66, 0.96);

    &.is-loaded {
      opacity: 1;
    }
  }  
}

.product-gallery__slideshow {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.product-gallery__scroller {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

// Slideshow

.product-gallery__slideshow {
  @extend .anti-outer-container;
}

.product-gallery__slideshow-slide {
  @extend .outer-container; 

  &:focus { outline: 0; }
}

.product-gallery__slideshow-slide-image {
  position: relative;
  height: 0;

  img {
    @include stretch-within;
    width: 100%;
  }
}

.product-gallery__slideshow-footer {
  @extend .outer-container;
  margin-top: $spacer;
  display: flex;
  justify-content: space-between;
}

.product-gallery__slideshow-pagination {
  width: auto;
  font-family: $font-family-monospace;
}


// Scroller
.product-gallery__scroller {

}

.product-gallery__scroller-image {
  position: relative;
  width: 100%;

  @include media-breakpoint-up(xl) {
    height: 100vh;
    min-height: 850px;
  }

  & + & {
    margin-top: $gap * 2;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &:last-child img {
    object-position: bottom;
  }
}

// -------------------------
// Blowup
// -------------------------

body.blowup-open {
  overflow: hidden; // Kill the scroll on the body
}

.blowup {
  position: fixed;
  z-index: $zindex-blowup;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
  background-color: $body-bg;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 0.6s cubic-bezier(0.32, 0.15, 0.02, 1.01) 0.3s;

  &.is-scrollable {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    .blowup__image {
      width: 100%;
      height: auto;
    }
  }

  &.is-active {
    opacity: 1;
    pointer-events: auto;
    transition-timing-function: cubic-bezier(0.32, 0.15, 0.02, 1.01);
    transition-duration: 0.3s;
    transition-delay: 0s;
  }
}

.blowup__helper {
  position: fixed;
  z-index: $zindex-blowup + 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 5px;
  opacity: 0;

  .blowup.is-active & {
    opacity: 1;
  }
}

.blowup__scroll {
  @include stretch-within;
  opacity: 0;
  transition: opacity 600ms ease-out;

  .is-active & {
    opacity: 1;
  }
}

.blowup__image {
  height: 2000px;
  width: auto;
  max-width: none;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.75, 0.32, 0.64, 0.87);

  .image-visible & {
    opacity: 1;
  }

  // In this case, clicking the image will close the zoom
  .is-scrollable & {
    cursor: zoom-out;
    cursor: -webkit-zoom-out;
  }
}