/**
 * VENDOR
 * ---------------------------------------
 * Import these up here to allow overrides down below
 *
 */
// @import 'vendor/swiper.scss';

/**
 * CORE
 * ---------------------------------------
 * Pieces pulled from Bootstrap
 *
 */
@import 'core/functions';
@import 'core/variables';
@import 'core/mixins';
@import 'core/reboot';
@import 'core/fonts';
@import 'core/type';
@import 'core/helpers';
// @import 'core/images';
// @import 'core/code';
@import 'core/grid';
@import 'core/layout';
// @import 'core/tables';
@import 'core/forms';
@import 'core/buttons';
// @import 'core/transitions';
// @import 'core/button-group';
// @import 'core/custom-forms';
// @import 'core/card';
@import 'core/alert';
// @import 'core/close';
// @import 'core/modal';
@import 'core/utilities';

/**
 * COMPONENTS
 * ---------------------------------------
 * Components are small elements that may be re-used in multiple modules
 *
 */
@import 'components/icon';
// @import 'components/breadcrumbs';
@import 'components/page';
@import 'components/rte';
// @import 'components/pagination';
// @import 'components/content';
// @import 'components/card';
@import 'components/minimal-input';
// @import 'components/arrows';
// @import 'components/slideshow';
// @import 'components/video-player';
@import 'components/newsletter-form';
// @import 'components/overlay';

/**
 * MODULES
 * ---------------------------------------
 * Modules are larger pieces of functionality that consume components
 * It is common for there to only be one instance of each on a page
 *
 */
@import 'modules/header';
@import 'modules/footer';
// @import 'modules/ajax-cart';
// @import 'modules/product-detail';
@import 'modules/video-background';
// @import 'modules/sidebar';

/**
 * Templates
 * ---------------------------------------
 * Styles *specific* to a shopify template
 * Only use if there is no less specific / more logical place to put styles
 * Try to use the body template class as a CSS hook
 *
 */
// @import 'templates/collection.scss';
// @import 'templates/lookbook.scss';
// @import 'templates/404.scss';
// @import 'templates/gift-card.scss';
// @import 'templates/customer.scss';
// @import 'templates/challenge.scss';
// @import 'templates/password.scss';

html {
  padding-bottom: 0 !important; // Shopify admin bar messes this up
}

html.js {
  body.is-loading {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.33, 0.01, 0.49, 1.02) 0.25s;
  }

  body.is-loaded {
    opacity: 1;
  }
}

body.effect-active .layout-wrapper {
  overflow-x: hidden;
  text-shadow: 0 0 0.4em transparentize($white, 0.3);
}

.view-content {
  transform-origin: top;
  opacity: 1;

  &.transition-in {
    position: fixed;
    // position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    height: 100vh;
    width: 100%;
    opacity: 0;
    z-index: 1;

    &.transition-in-active {
      opacity: 1;
      transition: opacity 0.8s cubic-bezier(0.32, 0.09, 0.34, 0.96);
    }
  }

  &.transition-out {
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.3, 0.46, 0.17, 0.9);
  }
}

.development-mode {
  /* stylelint-disable-next-line selector-max-id */
  #preview-bar-iframe,
  .shopify-preview-bar {
    display: none;
  }
}

// Temp styles for the statement
.statement-output {
  margin-top: 20px;

  @include media-breakpoint-up(md) {
    margin-top: 50px;
  }
}
