{% paginate blog.articles by 16 %}
<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="sidebar" style="margin-bottom: 15px;">
          <p>{{ blog.url | replace: 'blogs/', '' | append: '/' }}</p>
          <p>
            Categories<br />
            2020<br />
            2019<br />
          </p>
        </div>
      </div>
      <div class="col-md-8">
        {% for article in blog.articles %}
          {% include 'article-card', article: article %}
        {% endfor %}
      </div>
    </div>
    
    {% if paginate.next.is_link %}
      {% comment %} See _scripts/sections/blog.js {% endcomment %}
      <div class="text-center" style="padding: 10px 0" data-pagination>
        <a href="{{ paginate.next.url }}" data-next-page>Load More</a>
      </div>
    {% endif %}    
  </div>
</div>
{% endpaginate %}

{% schema %}
  {
    "name": "Blog",
    "settings": []
  }
{% endschema %}
