{%- comment %}

  Collection Section
  ------------------------------------------------------------------------------

{% endcomment -%}

{% paginate collection.products by 600 %}

{% assign content_grid_html = '' %}
{% assign product_pane_html = '' %}

{% for product in collection.products %}
  {% capture grid_item_html %}
    <div class="content-grid__item">
      {% include 'product-card',
                  product: product,
                  lazy_load: true,
                  show_sold_out: true
      %}
    </div>
  {% endcapture %}

  {% capture pane_html %}
    {% include 'product-detail', product: product %}
  {% endcapture %}

  {% assign content_grid_html = content_grid_html | append: grid_item_html %}
  {% assign product_pane_html = product_pane_html | append: pane_html %}
{% endfor %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="collection">
  {% render 'page-title' with collection.title %}
  
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="sidebar">
          {% include 'collection-sidebar', collection_handle: collection.handle %}
        </div>
      </div>
      <div class="col-md-5 col-lg-4 order-md-2">
        <div class="product-pane" data-product-pane>
          {{ product_pane_html }}
        </div>
      </div>
      <div class="col-md-5 col-lg-4 order-md-1">
        {% if content_grid_html %}
          <div class="content-grid">
            {{ content_grid_html }}
          </div>

        {% else %}
          <p>{{ 'collections.general.no_matches' | t }}</p>
        {% endif %}      
      </div>      
    </div>
  </div>
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection",
    "settings": []
  }
{% endschema %}
