{%- comment %}

  Collection Section
  ------------------------------------------------------------------------------

{% endcomment -%}

{% paginate collection.products by 600 %}
  {% assign content_grid_html = '' %}

  {% for product in collection.products %}
    {% assign preview = false %}

    {% for tag in product.tags %}
      {% assign tag_slug = tag | handle | replace: '-', '' %}

      {% if tag_slug == 'preview' %}
        {% assign preview = true %}
      {% endif %}
    {% endfor %}

    {% capture grid_item_html %}
      <div class="content-grid__item">
        {% render 'product-card',
                   product: product,
                   show_sold_out: true,
                   collection: collection,
                   preview: preview
        %}
      </div>
    {% endcapture %}

    {% assign content_grid_html = content_grid_html | append: grid_item_html %}
  {% endfor %}
{% endpaginate %}

<div
  class="layout-content-wrapper"
  data-section-id="{{ section.id }}"
  data-section-type="collection"
>
  {% render 'page-title' with collection.title %}
  
  <div class="outer-container">
    {% render 'collection-control-bar',
               collection_handle: collection.handle
    %}
    
    {% if content_grid_html != blank %}
      <div class="content-grid" data-product-card-grid>
        {{ content_grid_html }}
      </div>    
    {% endif %}    
  </div>
</div>

{% schema %}
  {
    "name": "Collection",
    "settings": []
  }
{% endschema %}
