<div data-section-id="{{ section.id }}" data-section-type="header">
  <header role="banner">
    <a href="/">
      {% include 'header-logo' %}
    </a>

    <div class="header__controls">    
      <a href="/cart" class="header-cart btn {% if cart.item_count > 0 %} has-items{% endif %}" data-ajax-cart-trigger>
        Cart <span data-cart-count>{{ cart.item_count }}</span>
      </a>
    </div>
  </header>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}
