{%- comment %}

  Lookbook Section
  ------------------------------------------------------------------------------

{% endcomment -%}
{% paginate collection.products by 600 %}

{% assign c = collections[collection.handle] %}

{% assign content_grid_html = '' %}
{% assign details_html = '' %}

{% for p in c.products %}
  {% assign preview = false %}

  {% for tag in p.tags %}
    {% assign tag_slug = tag | handle | replace: '-', '' %}

    {% if tag_slug == 'preview' %}
      {% assign preview = true %}
    {% endif %}
  {% endfor %}

  {%- capture grid_item_html -%}
    {% unless preview == true %}
      <div class="content-grid__item">
        <div class="lookbook-card">
          {% render 'product-card',
                     product: p,
                     show_info: 0,
                     linkable: 0,
          %}

          {% render 'lookbook-product-details', product: p %}
        </div>
      </div>
    {% endunless %}
  {%- endcapture -%}

  {%- capture detail_html -%}
    {% unless preview == true %}
      {% render 'lookbook-product-details', product: p %}
    {% endunless %}
  {%- endcapture %}

  {% assign content_grid_html = content_grid_html | append: grid_item_html %}
  {% assign details_html = details_html | append: detail_html %}  
{% endfor %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="lookbook">
  {% assign page_title_text = collection.title | append: ' Lookbook' %}

  {% render 'page-title' with page_title_text %}

  <div class="outer-container">
    {% render 'collection-control-bar',
               collection_handle: collection.handle
    %}

    <div class="row justify-content-center">
      <div class="col-sm-8 col-xxl-9">
        <div class="content-grid content-grid--lookbook" data-product-card-grid>
          {{ content_grid_html }}
        </div>
      </div>
      <div class="d-none d-sm-block col-sm-4 col-xxl-3">
        <div class="lookbook-sidebar">
          {{ details_html }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endpaginate %}

{% schema %}
  {
    "name": "Lookbook",
    "settings": []
  }
{% endschema %}