{%- comment %}

  Lookbook Section
  ------------------------------------------------------------------------------

{% endcomment -%}
{% paginate collection.products by 600 %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="lookbook">
  {% assign page_title_text = collection.title | append: ' Lookbook' %}

  {% render 'page-title' with page_title_text %}

  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        {% render 'collection-sidebar', collection_handle: collection.handle %}
      </div>
      <div class="col-md-7 col-lg-6">
        {% assign c = collections[collection.handle] %}

        <div class="content-grid content-grid--lookbook" data-product-card-grid>
          {% for p in c.products %}
            <div class="content-grid__item">
              <div class="lookbook-card">
                {% render 'product-card',
                            product: p,
                            show_sku: true,
                            linkable: 0
                %}

                {% render 'lookbook-product-details', product: p %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="d-none d-md-block col-md-3 col-lg-2">
        <div class="lookbook-sidebar">
          {% for p in c.products %}
            {% render 'lookbook-product-details', product: p %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endpaginate %}

{% schema %}
  {
    "name": "Lookbook",
    "settings": []
  }
{% endschema %}