<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="page">
  <div class="container">
    {% render 'page-title' with page.title %}

    <div class="rte" style="max-width: 40em;">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page",
    "settings": [],
    "blocks": [
      {
        "type": "sidebar_menu",
        "name": "Sidebar Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }
        ]
      }
    ]
  }
{% endschema %}