<div class="password-page" data-section-id="{{ section.id }}" data-section-type="password">   
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <p>Connected</p>
        <p>IP Address:<br />541.541.5431.23</p>
      </div>
      <div class="col-2">
        <p>Searching for file<br />[H31A.exe]....</p>
        <p>Running<br />[H31A.exe]</p>
      </div>
      <div class="col-2">
        <p>Error</p>
        <p>Program Terminated</p>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="margin-top: 15px;" data-program></div>
</div>

{% comment %} Add a login form in case anyone *actually* needs to log in {% endcomment %}
<div id="password-login" class="password__login">
  {% form 'storefront_password' %}
    <div class="form-group">
      <input type="password" name="password" class="form-control" autocomplete="store-password">
    </div>
    <button type="submit" name="commit" class="btn">Submit</button>
  {% endform %}
</div>


<script type="text/javascript">
  if(window.location.search.indexOf('password') > -1) {
    document.getElementById('password-login').style.display = 'block';
  }
</script>

{% schema %}
  {
    "name": "Password Page",
    "settings": [

    ]
  }
{% endschema %}
