{% assign product_handle_a = blank %}
{% assign product_handle_b = blank %}

{% assign page_for_block_product = false %}

{% for block in section.blocks %}
  {% if block.settings.product == product.handle %}
    {% assign page_for_block_product = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if page_for_block_product %}
  {% for block in section.blocks %}
    {% if block.settings.product == product.handle %}
      {% assign product_handle_a = block.settings.product %}
    {% else %}
      {% assign product_handle_b = block.settings.product %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign product_handle_a = section.blocks[0].settings.product %}
  {% assign product_handle_b = section.blocks[1].settings.product %}
{% endif %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="product" itemscope itemtype="http://schema.org/Product">
  <div class="container">
    <div class="row">
      {% if product_handle_a != blank %}
        <div class="col-sm-6">
          {% render 'product-detail', product: all_products[product_handle_a] %}
        </div>
      {% endif %}
      {% if product_handle_b != blank %}
        <div class="col-sm-6">
          {% render 'product-detail', product: all_products[product_handle_b] %}
        </div>
      {% endif %}      
    </div>
  </div>

  {% if section.settings.footer_copy != blank %}
    <div class="container" style="margin-top: 100px;">
      <div class="row">
        <div class="col-sm-6">
          <div class="rte text-uppercase">
            {{ section.settings.footer_copy }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Product Page",
    "max_blocks": 2,
    "settings": [
      {
        "type": "richtext",
        "id": "footer_copy",
        "label": "Footer Copy"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}
