@mixin highlight-link {
  @include has-hover {
    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &.is-active {
    background-color: $black;
    color: $white;    
  }  
}